.wrapper {
  width: 100%;
  padding: 10px;
  background: var(--main-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper h3 {
  font-size: 30px;
  padding: 10px;
}

.container {
  width: 1000px;
  padding: 10px;
  background: var(--main-color-1);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.leftSide,
.rightSide {
  height: 400px;
  display: flex;
}

.img0 {
  background:
    url('../../../shared/assets/img/sale/dog.png') left / contain no-repeat,
    linear-gradient(90deg, #e9c46a 0%, #fdffb6 100%);
}

.img1 {
  background:
    url('../../../shared/assets/img/sale/cat.png') left / contain no-repeat,
    linear-gradient(90deg, #dfdede 0%, #fdffb6 100%);
}

.img2 {
  background:
    url('../../../shared/assets/img/sale/treat.png') left / contain no-repeat,
    linear-gradient(90deg, #e9c46a 0%, #fdffb6 100%);
}

.img3 {
  background:
    url('../../../shared/assets/img/sale/bed.png') left / contain no-repeat,
    linear-gradient(90deg, #e9c46a 0%, #fdffb6 100%);
}

.img4 {
  background:
    url('../../../shared/assets/img/sale/cage.png') left / cover no-repeat,
    linear-gradient(90deg, #dfdede 0%, #fdffb6 100%);
}

.leftItem,
.rightItem {
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: end;
  cursor: pointer;
  border: 1px solid var(--main-color-0);
}

.leftItem {
  width: 600px;
  align-items: top;
  padding: 20px;
}

.rightItem {
  width: 350px;
  padding: 10px;
}

.saleLeft,
.saleRight {
  color: var(--red);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.saleLeft {
  width: 200px;
  font-size: 30px;
  gap: 20px;
}

.saleRight {
  font-size: 20px;
  gap: 5px;
}

.svgLeft,
.svgRight {
  margin-left: auto;
  display: flex;
  margin-bottom: auto;
}

.svgLeft {
  width: 100px;
}

.svgRight {
  width: 50px;
}

@media (width <= 1050px) {
  .leftItem {
    width: 500px;
  }

  .rightItem {
    width: 300px;
  }
}

@media (width <= 900px) {
  .leftSide,
  .rightSide {
    height: 350px;
  }

  .leftItem {
    width: 400px;
    padding: 10px;
  }

  .rightItem {
    width: 250px;
  }
}

@media (width <= 750px) {
  .leftSide {
    display: none;
  }

  .rightItem {
    width: 350px;
  }
}
