{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json",
  },
  "settings": {
    "react": {
      "version": "detect",
    },
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
  },
  "plugins": ["react", "@typescript-eslint", "import", "prettier"],
  "rules": {
    "no-debugger": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
      },
    ],
    "react-hooks/exhaustive-deps": "off",
  },
}
