.wrapper-main {
  display: flex;
  flex-grow: 1;
}

.img-kittens {
  display: block;
  width: 74%;
  margin: auto;
  object-fit: contain;
  object-position: top;
}

@media (width <= 1050px) {
  .wrapper-main {
    flex-direction: column;
  }
}
