.formContent {
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
  border-radius: 3px;
  background: var(--main-color-1);
  border: 1px solid var(--main-color-4);
  padding: 3rem 1rem 1rem;
}

.formRegistrationTitle {
  text-align: center;
  margin-bottom: 20px;
}

@media (width <= 575px) {
  .ant-form-item {
    margin-bottom: 8px;
  }
}

.formNotification {
  border-radius: 10px;
  border: 1px solid var(--main-color-1);
  padding: 40px;
  margin: auto;
  text-align: center;
  background-color: var(--main-color-1);
  box-shadow: 0 4px 8px 6px rgba(#111, 10%);
}

.formTitle {
  font-size: 36px;
  color: var(--green);
  max-width: 500px;
}

.formIcon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.checkboxInner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 190px;
  gap: 8px;
}

.checkoxDefault {
  border: 1px solid var(--main-color-3);
  padding: 5px;
  border-radius: 4px;
  width: fit-content;
}

.checkoxSame {
  border: 1px solid var(--green);
  padding: 5px;
  border-radius: 4px;
  width: fit-content;
}

@media (width <= 575px) {
  .checkboxInner {
    margin-left: 0;
    grid-template-columns: repeat(1, 1fr);
  }
}
