.cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  width: 95%;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
  border: 1px solid var(--main-color-4);
}
