.productList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  height: 75vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color-3) var(--main-color-1);
}

.productCart {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: start;
}

.cartEmpty {
  flex-grow: 1;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 10%;
}

.messageCartEmpty {
  min-width: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  font-weight: 600;
  font-style: italic;
}

.messageCartEmpty p {
  margin-bottom: 30px;
}

.imgCartEmpty {
  width: 370px;
}

.linkCatalog {
  color: var(--green);
  font-size: 24px;
  font-style: normal;
  text-decoration: none;
}

@media (width <= 1110px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .productList {
    width: 100%;
  }
}

@media (width <= 850px) {
  .cartEmpty {
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
}
