.productList {
  display: flex;
  flex-grow: 1;
  padding: 1%;
}

.emptySearch {
  display: flex;
  color: var(--blue);
  margin: auto;
  font-size: 23px;
  font-weight: 600;
  font-style: italic;
}

.listWrapper {
  display: flex;
  width: 1210px;
  flex-flow: wrap;
  justify-content: start;
  gap: 10px;
}
