.container {
  display: flex;
  justify-content: center;
}

.dropdownContent {
  height: 100px;
  align-items: center;
  display: flex;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 50px;
  background: var(--denim);
}
