.cover {
  width: 200px;
  padding: 1% 0 0 1%;
  overflow-y: hidden;
}

.subCover {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.field {
  cursor: pointer;

  &:hover {
    color: var(--denim);
  }
}

.active {
  font-weight: 600;
  color: var(--green);
  text-decoration: underline;

  &:hover {
    color: var(--green);
  }
}
