.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  min-height: 5rem;
  padding: 0 1rem;
  background-color: var(--main-color-4);
}

.logo-header {
  max-width: 20rem;
  width: 100%;
}

.menu {
  min-width: 0;
  flex: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: inherit;
}

.link-header {
  border: 2px solid var(--green);
  border-radius: 10px;
  padding: 0.3rem 0.5rem;
  transition: all 20ms;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

.link-header:hover {
  border-color: var(--main-color-0);
}

.ant-menu-item-selected .link-header {
  border-color: var(--main-color-0);
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected {
  background-color: transparent;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected:hover {
  background-color: transparent;
}

.link-header.link-profile {
  border: none;
}

.link-profile .anticon {
  transform: translateY(4px);
  transition: color 0.3s ease;
}

.link-profile:hover > .anticon {
  color: var(--main-color-0);
}
