.containerPromoCodes {
  display: flex;
  padding: 5%;
  gap: 50px;
}

.promoCode {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promoCodeName {
  width: 200px;
  height: 100px;
  padding: 7px;
  background: radial-gradient(#c1e28e, #527223);
  mask-image: url('./../../../shared/assets/img/mask-promoCode.svg');
  mask-size: cover;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.promoCodeWord {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.promoCodeDiscount {
  font-size: 32px;
  font-style: normal;
}

.promoCodeDescription {
  margin-top: 10px;
  width: 70%;
  text-align: center;
  font-size: 12px;
}
