.applyBlock {
  display: flex;
  gap: 30px;
}

.inputPromoCode {
  width: 70%;
  height: 2rem;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--green);
  font-size: 18px;
  outline: none;
}

.cancelPromoCode,
.buttonApply {
  width: 30%;
  border-radius: 5px;
  font-size: 18px;
  background-color: var(--green);
  cursor: pointer;
}

.buttonApply:hover {
  background-color: #55ec55;
}

.buttonApply:disabled {
  background-color: #9b9b9b;
}

.inputPromoCode:disabled {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}

.cancelPromoCode {
  display: none;
  font-size: 13px;
}
