.item0 {
  background: url('../../../shared/assets/img/pets/all.jpg');
}

.item1 {
  background: url('../../../shared/assets/img/pets/cat.jpg');
}

.item2 {
  background: url('../../../shared/assets/img/pets/dog.jpg');
}

.item3 {
  background: url('../../../shared/assets/img/pets/rabbit.jpg');
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
  width: 800px;
  height: 400px;
  border-radius: 5px;
  background-size: cover;
  margin: 10px;
  background-position: center;
  cursor: pointer;
  box-shadow:
    rgb(6 24 44 / 40%) 0 0 0 0,
    rgb(6 24 44 / 65%) 0 4px 6px -1px,
    rgb(255 255 255 / 8%) 0 1px 0 inset;
}

.promoCover {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promo {
  color: var(--main-color-0);
  font-size: 30px;
  font-weight: bold;
}

.description {
  color: var(--main-color-0);
  font-size: 11px;
}

.code {
  color: var(--green);
  font-size: 35px;
  font-weight: bold;
}

@media (width <= 1050px) {
  .item {
    width: 600px;
    height: 300px;
  }
}

@media (width <= 750px) {
  .item {
    width: 500px;
    height: 200px;
  }
}

@media (width <= 610px) {
  .promo {
    font-size: 20px;
  }

  .description {
    font-size: 8px;
  }

  .code {
    font-size: 25px;
  }

  .item {
    width: 300px;
    height: 150px;
  }
}
